<section id="proyectos" class="recuadro">
    <div class="container-fluid seccion">
        <!------Titulo de seccion y boton agregar-->
        <div class="titulo-seccion">
            <h2 class="titular">Proyectos</h2>
            <app-boton-agregar></app-boton-agregar>
        </div>
        

        <!-----BLOQUE DE PROYECTOS------>
        <div class="container row" *ngFor="let proyecto of proyectos">
            <hr>
            <div class="col-11">
                <div class="proyecto shadow-large">
                    <!----Imagen de proyecto---->
                    <div class="imagen-proyecto">
                        <img [src]="proyecto.img_Project"/>
                    </div>
                    <!----Informacion de proyecto---->                                   
                    <div class="data-proyecto">
                        <h3><b>{{proyecto.nombreProject}}</b></h3>                                                    
                        <br>
                        <span>{{proyecto.fechaProject}}</span>
                        <h4>{{proyecto.puestoProject}}</h4>
                        <p>{{proyecto.descripcionProject}}</p>
                        <a href="https://www.youtube.com/watch?v=Z_fEKap24wU" target="blanck">Ver proyecto</a>
                    </div>                        
                </div>
            </div>
            <div class="col-1">
                <app-boton-editar></app-boton-editar>
                <app-boton-borrar></app-boton-borrar>                    
            </div>                
            <hr>
        </div>            
    </div>
</section>
