<!---------SECCION PROYECTOS------------>

<section id="proyectos" class="recuadro">
    <div class="container-fluid seccion">
        <!------Titulo de seccion y boton agregar-->
        <div class="titulo-seccion">
            <h2 class="titular">Proyectos</h2>
            <app-boton-agregar data-bs-toggle="modal" data-bs-target="#addProyecto"></app-boton-agregar>
        </div>
        

        <!-----BLOQUE DE PROYECTOS------>
        <div class="container row" *ngFor="let proyecto of proyectos">
            <hr>
            <div class="col-11">
                <div class="proyecto shadow-large">
                    <!----Imagen de proyecto---->
                    <div class="imagen-proyecto">
                        <img [src]="proyecto.img_Project"/>
                    </div>
                    <!----Informacion de proyecto---->                                   
                    <div class="data-proyecto">
                        <h3><b>{{proyecto.nombreProject}}</b></h3>                                                    
                        <br>
                        <span>{{proyecto.fechaProject}}</span>
                        <h4>{{proyecto.puestoProject}}</h4>
                        <p>{{proyecto.descripcionProject}}</p>
                        <a href="https://www.youtube.com/watch?v=Z_fEKap24wU" target="blanck">Ver proyecto</a>
                    </div>                        
                </div>
            </div>
            <div class="col-1">
                <app-boton-editar data-bs-toggle="modal" data-bs-target="#editProyecto" (click)="editableId(proyecto.idProject,proyecto)"></app-boton-editar>
                <app-boton-borrar data-bs-toggle="modal" data-bs-target="#deleteProyecto" (click)="trashId(proyecto.idProject,proyecto)"></app-boton-borrar>                    
            </div>                
            <hr>
        </div>            
    </div>
</section>

<!-------MODALES----agregar, editar y borrar-->


<!-------AGREGAR PROYECTO----------->
<div class="modal fade" id="addProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-agregar">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">AGREGAR PROYECTO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!------Formulario------->
        <form #f="ngForm"  id="agregarProyecto" class="add-form" (ngSubmit)="guardarProyecto()" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nombreProject" class="form-label">Nombre del proyecto</label>
                    <input id="nombreProject" type="text" name="nombreProject" class="form-control" [(ngModel)]="newNombreProject" required>
                </div>
                <div class="form-group">
                    <label for="fechaProject" class="form-label">Período en años. Ej: (1998-2002) </label>
                    <input id="fechaProject" type="text" name="fechaProject" class="form-control" [(ngModel)]="newFechaProject" required>
                </div>
                <div class="form-group">
                    <label for="puestoProject" class="form-label">Puesto o desempeño</label>
                    <input id="puestoproject" type="text" name="empresaEx" class="form-control" [(ngModel)]="newPuestoProject" required>
                </div>
                <div class="form-group">
                    <label for="descripcionProject" class="form-label">Descripcion general del proyecto</label>
                    <input id="descripcionProject" type="text" name="descripcionProject" class="form-control" [(ngModel)]="newDescripcionProject" >
                </div>
                <div class="form-group">
                    <label for="img_Project" class="form-label">URL (imagen representativa del proyecto)</label>
                    <input id="img_Project" type="text" name="img_Project" class="form-control" [(ngModel)]="newImg_Project">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>                
            </div>
        </form>
      </div>
    </div>
</div>
<!-------------------------------->

<!--------EDITAR PROYECTO-------->
<div class="modal fade" id="editProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-editar">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">EDITAR PROYECTO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!------Formulario------->
        <form #editForm="ngForm"  id="agregarExperiencia" class="add-form" (ngSubmit)="editarProyecto()" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nombreproject" class="form-label">Nombre del proyecto</label>
                    <input id="nombreProject" type="text" name="nombreProject"  class="form-control" [(ngModel)]="newNombreProject" required>
                </div>
                <div class="form-group">
                    <label for="fechaProject" class="form-label">Período en años. Ej: (1998-2002) </label>
                    <input id="fechaProject" type="text" name="fechaProject" class="form-control" [(ngModel)]="newFechaProject" required>
                </div>
                <div class="form-group">
                    <label for="puestoProject" class="form-label">Puesto o desempeño</label>
                    <input id="puestoProject" type="text" name="puestoProject"  class="form-control" [(ngModel)]="newPuestoProject" required>
                </div>
                <div class="form-group">
                    <label for="descripcionProject" class="form-label">Lugar y/o informacion adicional</label>
                    <input id="descripcionProject" type="text" name="descripcionProject"  class="form-control" [(ngModel)]="newDescripcionProject" >
                </div>
                <div class="form-group">
                    <label for="img_Project" class="form-label">URL (imagen representativa del proyecto)</label>
                    <input id="img_Project" type="text" name="img_Project"  class="form-control" [(ngModel)]="newImg_Project">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>                
            </div>
        </form>
      </div>
    </div>
</div>
<!-------------------------------->

<!-----------BORRAR PROYECTO------------>
<div class="modal fade" id="deleteProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-borrar">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">ELIMINAR PROYECTO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="eliminarProyecto()">
            <div class="modal-body">
                <div>
                    <h5>¿Desea eliminar esta proyecto?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </form>
      </div>
    </div>
</div>
<!-------------------------------->


