<!-------SECCION EDUCACION--------->

<section id="educacion" class="recuadro">
    <div class="container-fluid seccion">
        <!---Titulo de seccion y BOTON AGREGAR------>
        <div class="titulo-seccion">
           <h2 class="titular">Educación</h2>
           <app-boton-agregar data-bs-toggle="modal" data-bs-target="#addEducacion"></app-boton-agregar> 
        </div>
        
        <!----BLOQUE EDUCATIVO----->
        <article class="container bloque-educativo" *ngFor="let edu of educacion">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <img class="imagen-logo" [src]="edu.img_LogoEdu" alt="">
                </div>
                <div class="container data-educacion col-xs-8 col-sm-8 col-md-8">
                    <h3>{{edu.tituloEdu}}</h3>                    
                    <span>{{edu.fechaEdu}}</span>
                    <h4>{{edu.institucionEdu}}</h4>
                    <p>{{edu.descripcionEdu}}</p>
                </div>
                <div class="botones col-xs-2 col-sm-2 col-md-2">
                    <app-boton-editar data-bs-toggle="modal" data-bs-target="#editEducacion" (click)="editableId(edu.idEdu,edu)"></app-boton-editar>
                    <app-boton-borrar data-bs-toggle="modal" data-bs-target="#deleteEducacion" (click)="trashId(edu.idEdu,edu)"></app-boton-borrar>
                </div>
            </div>
        </article>
    </div>
</section>

<!-------------------------------->


<!-------MODALES----agregar, editar y borrar-->


<!-------AGREGAR EDUCACION----------->
<div class="modal fade" id="addEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-agregar">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">AGREGAR EDUCACION</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!------Formulario------->
        <form #f="ngForm"  id="agregarEducacion" class="add-form" (ngSubmit)="guardarEducacion()" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <label for="tituloEdu" class="form-label">Titulo</label>
                    <input id="tituloEdu" type="text" name="tituloEdu" class="form-control" [(ngModel)]="newtituloEdu" required>
                </div>
                <div class="form-group">
                    <label for="fechaEdu" class="form-label">Período en años. Ej: (1998-2002) </label>
                    <input id="fechaEdu" type="text" name="fechaEdu" class="form-control" [(ngModel)]="newfechaEdu" required>
                </div>
                <div class="form-group">
                    <label for="institucionEdu" class="form-label">Institucion</label>
                    <input id="institucionEdu" type="text" name="institucionEdu" class="form-control" [(ngModel)]="newinstitucionEdu" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEdu" class="form-label">Lugar y/o informacion adicional</label>
                    <input id="descripcionEdu" type="text" name="descripcionEdu" class="form-control" [(ngModel)]="newdescripcionEdu" >
                </div>
                <div class="form-group">
                    <label for="img_LogoEdu" class="form-label">URL (logo de la institucion)</label>
                    <input id="img_LogoEdu" type="text" name="img_LogoEdu" class="form-control" [(ngModel)]="newimg_LogoEdu">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>                
            </div>
        </form>
      </div>
    </div>
</div>
<!-------------------------------->

<!--------EDITAR EDUCACION-------->
<div class="modal fade" id="editEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-editar">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">EDITAR EDUCACION</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!------Formulario------->
        <form #f="ngForm"  id="editarEducacion" class="add-form" (ngSubmit)="editarEducacion()" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <label for="tituloEdu" class="form-label">Titulo</label>
                    <input id="tituloEdu" type="text" name="tituloEdu" class="form-control" [(ngModel)]="newtituloEdu" required>
                </div>
                <div class="form-group">
                    <label for="fechaEdu" class="form-label">Período en años. Ej: (1998-2002) </label>
                    <input id="fechaEdu" type="text" name="fechaEdu" class="form-control" [(ngModel)]="newfechaEdu" required>
                </div>
                <div class="form-group">
                    <label for="institucionEdu" class="form-label">Institucion</label>
                    <input id="institucionEdu" type="text" name="institucionEdu" class="form-control" [(ngModel)]="newinstitucionEdu" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEdu" class="form-label">Lugar y/o informacion adicional</label>
                    <input id="descripcionEdu" type="text" name="descripcionEdu" class="form-control" [(ngModel)]="newdescripcionEdu" >
                </div>
                <div class="form-group">
                    <label for="img_LogoEdu" class="form-label">URL (logo de la institucion)</label>
                    <input id="img_LogoEdu" type="text" name="img_LogoEdu" class="form-control" [(ngModel)]="newimg_LogoEdu">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>                
            </div>
        </form>
      </div>
    </div>
</div>
<!-------------------------------->

<!-----------BORRAR EDUCACION------------>
<div class="modal fade" id="deleteEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-borrar">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">ELIMINAR EDUCACION</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="eliminarEducacion()">
            <div class="modal-body">
                <div>
                    <h5>¿Desea eliminar esta educación?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </form>
      </div>
    </div>
</div>
<!-------------------------------->


  




  