<!-------SECCION EDUCACION--------->

<section id="educacion" class="recuadro">
    <div class="container-fluid seccion">
        <!---Titulo de seccion y BOTON AGREGAR------>
        <div class="titulo-seccion">
           <h2 class="titular">Educación</h2>
           <app-boton-agregar data-bs-toggle="modal" data-bs-target="#addEducacion"></app-boton-agregar> 
        </div>
        
        <!----BLOQUE EDUCATIVO----->
        <article class="container bloque-educativo" *ngFor="let edu of educacion">
            <div class="row">
                <div class="col-1">
                    <img class="imagen-logo" [src]="edu.img_LogoEdu" alt="">
                </div>
                <div class="container data-educacion col-10">
                    <h3>{{edu.tituloEdu}}</h3>                    
                    <span>{{edu.fechaEdu}}</span>
                    <h4>{{edu.institucionEdu}}</h4>
                    <p>{{edu.descripcionEdu}}</p>
                </div>
                <div class="col-1">
                    <app-boton-editar data-bs-toggle="modal" data-bs-target="#editEducacion"></app-boton-editar>
                    <app-boton-borrar data-bs-toggle="modal" data-bs-target="#deleteEducacion"></app-boton-borrar>
                </div>
            </div>
        </article>
    </div>
</section>
<!-------------------------------->


<!-------MODALES----agregar, editar y borrar-->


<!-------AGREGAR EDUCACION----------->
<div class="modal fade" id="addEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-agregar">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">AGREGAR EDUCACION</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!------Formulario------->
        <form action="" id="agregarEducacion" class="add-form" >
            <div class="modal-body">
                <div>
                    <label for="itemTitle" class="form-label">Título</label>
                    <input id="titulo" type="text" required>
                </div>
                <div>
                    <label for="itemTitle" class="form-label">Período en años. Ej: (1998-2002) </label>
                    <input id="fecha" type="text" class="form-control"  required>
                </div>
                <div>
                    <label for="itemTitle" class="form-label">Institución</label>
                    <input id="institucion" type="text" class="form-control"  required>
                </div>
                <div>
                    <label for="itemTitle" class="form-label">Lugar y/o informacion adicional</label>
                    <input id="descripcion" type="text" class="form-control" >
                </div>
                <div>
                    <label for="itemTitle" class="form-label">URL (logo de la institucion)</label>
                    <input id="img" type="text" class="form-control" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="guardarEducacion()">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>                
            </div>
        </form>
      </div>
    </div>
</div>
<!-------------------------------->

<!--------EDITAR EDUCACION-------->
<div class="modal fade" id="editEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-editar">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">EDITAR EDUCACION</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!------Formulario------->
        <form action="">
            <div class="modal-body">
                <div>
                    <label for="itemTitle" class="form-label">Título</label>
                    <input id="titulo" type="text" class="form-control" required>
                </div>
                <div>
                    <label for="itemTitle" class="form-label">Período en años. Ej: (1998-2002) </label>
                    <input id="fecha" type="text" class="form-control" required>
                </div>
                <div>
                    <label for="itemTitle" class="form-label">Institución</label>
                    <input id="institucion" type="text" class="form-control" required>
                </div>
                <div>
                    <label for="itemTitle" class="form-label">Lugar y/o informacion adicional</label>
                    <input id="descripcion" type="text" class="form-control">
                </div>
                <div>
                    <label for="itemTitle" class="form-label">URL (logo de la institucion)</label>
                    <input id="img" type="text" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>                
            </div>
        </form>
      </div>
    </div>
</div>
<!-------------------------------->

<!-----------BORRAR EDUCACION------------>
<div class="modal fade" id="deleteEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-borrar">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">ELIMINAR EDUCACION</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="">
            <div class="modal-body">
                <div>
                    <label for="itemTitle" class="form-label">hkjhkjhksjdhkfh</label>
                    <input id="itemTitle" type="text" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar cambios</button>
            </div>
        </form>
      </div>
    </div>
</div>
<!-------------------------------->


  




  