section {
    background: url("../../../../assets/images/estrellas.jpg");
    color: white;
}

.cuadro {
    margin:50px;
    height: max-content; 
}

h2 {
    color:green;
}

.magic1 {
    color: yellow;
}

a {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    color: white;
}

button {
    color:yellow;
    border-bottom:1px solid red;
    border-left:1px solid orange;
    border-top:1px solid yellow;
    border-right:1px solid green;
}

button:hover {
    background: yellow;
    color:red;
}

.magic4, .magic5 {
    color:orange;
}


