<section class="estrellas">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="cuadro seccion col-12 col-md-8 col-lg-6 col-xl-5">
           <div class="card-body p-5 text-center">
              <div class="mb-md-2 mt-md-2 pb-5">  
                <h2 class="fw-bold text-uppercase">Login</h2>
                <p class="magic1 text-50 mb-5">Portfolio</p>                

                <form class="row needs-validation" autocomplete="off" novalidate>
                    <div class="form-group">
                        <input type="email" id="email" class="form-control" required>
                        <label class="form-label" for="email">Email</label>
                    </div>        
                    <div class="form-group">
                        <input type="password" id="password" class="form-control" required>
                        <label class="form-label" for="password">Contraseña</label>
                    </div>        
                    <p class="magic2 small mb-5 pb-lg-2"><a class="text-white-50" href="#!">¿Olvidaste la contraseña?</a></p>        
                    <button class="boton btn btn-outline-light btn-lg px-5" type="submit">Ingresar</button>
                </form>
                
              </div>  
              <div>
                <p class="magic3">¿Quieres registrarte?</p>
                <a href="#!" class="magic4">Registrarme</a>
                <a href="#navegacion" class="magic5">Salir</a>
              </div>  
           </div>          
        </div>
      </div>
    </div>
</section>
