
  <!-- Modal -->
  <div class="modal fade" id="editexperiencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">EDITAR Experiencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="">
            <div class="modal-body">
                <div>
                    <label for="itemTitle" class="form-label">Puesto de trabajo</label>
                    <input id="itemTitle" type="text" class="form-control"  required>
                </div>
                <div>
                    <label for="itemTitle" class="form-label">Período en años. Ej: (2012-2015) </label>
                    <input id="itemTitle" type="text" class="form-control"  required>
                </div>
                <div>
                    <label for="itemTitle" class="form-label">Empresa/Organización</label>
                    <input id="itemTitle" type="text" class="form-control">
                </div>
                <div>
                    <label for="itemTitle" class="form-label">Lugar, descripción o informacion adicional</label>
                    <input id="itemTitle" type="text" class="form-control">
                </div>
                <div>
                    <label for="itemTitle" class="form-label">URL (logo de la empresa)</label>
                    <input id="itemTitle" type="text" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>                
            </div>
        </form>
      </div>
    </div>
  </div>
