<header id="header" *ngFor="let perso of datospersona">
    <!----BANNER------>
    <img class="img-responsive" id="banner" [src]="perso.img_banner" alt="banner">   
    <!----CARTEL------> 
    <div id="lead">
        <div id="cartel" class="lead-content">
            <h1>{{perso.nombre}} {{perso.apellido}}</h1>
            <h2>{{perso.presentacion}}</h2>
            <app-boton-editar data-bs-toggle="modal" data-bs-target="#editHeader" (click)="editableId(perso.id,perso)"></app-boton-editar>
        </div>
    </div>
</header>

<!------ACERCA DE----->

<section id="acerca-de" *ngFor="let perso of datospersona">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img id="" class="foto-perfil" [src]="perso.img_perfil">
                <app-boton-editar id="editar-foto-perfil" data-bs-toggle="modal" data-bs-target="#editFotoPerfil" (click)="editableId(perso.id,perso)"></app-boton-editar>
            </div>
            <div id="about" class="col-md-9">
                <h2 class="">Sobre mí</h2>
                <p>{{perso.descripcion}}</p>
            </div>
            <div class="botones col-md-1">
                <app-boton-editar id="editar-descrpcion" data-bs-toggle="modal" data-bs-target="#editDescripcion" (click)="editableId(perso.id,perso)"></app-boton-editar>
            </div>
        </div>
    </div>
</section>

<!-------MODAL EDITAR HEADER (nombre, presentacion y banner)-------->

<!--------EDITAR HEADER-------->
<div class="modal fade" id="editHeader" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-editar">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">EDITAR PRESENTACION</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!------Formulario------->
        <form #editForm="ngForm"  id="editarHeader" class="add-form" (ngSubmit)="editarPresentacion()" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input id="nombre" type="text" name="nombre"  class="form-control" [(ngModel)]="newNombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input id="apellido" type="text" name="apellido" class="form-control" [(ngModel)]="newApellido" required>
                </div>
                <div class="form-group">
                    <label for="presentacion" class="form-label">Presentacion/Titulo</label>
                    <input id="presentacion" type="text" name="presentacion"  class="form-control" [(ngModel)]="newPresentacion" required>
                </div>                
                <div class="form-group">
                    <label for="imagen_banner" class="form-label">URL de imagen Banner</label>
                    <input id="imagen_banner" type="text" name="imagen_banner"  class="form-control" [(ngModel)]="newImg_Banner" >
                </div>
                <div class="form-group">
                    <label for="descripcion" class="form-label">Algunas palabras sobre mi</label>
                    <input id="descripcion" type="text" name="descripcion"  class="form-control" [(ngModel)]="newDescripcion" required>
                </div>
                <div class="form-group">
                    <label for="imagen_perfil" class="form-label">URL de Foto de Perfil</label>
                    <input id="imagen_perfil" type="text" name="imagen_perfil"  class="form-control" [(ngModel)]="newImg_Perfil" >
                </div>                        
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>                
            </div>
        </form>
      </div>
    </div>
</div>
<!-------------------------------->

