

<section  id="experiencia" class="recuadro">
    <div class="container-fluid seccion">
        <!---Titulo de seccion y BOTON AGREGAR------>
        <div class="titulo-seccion">
            <h2 class="titular">Experiencia</h2>
            <app-boton-agregar></app-boton-agregar>
        </div>
        <!----------BLOQUE DE EXPERIENCIAS-------->
        <hr>
        <div class="row" *ngFor="let experi of experiencia">         
            <div class="col-md-2">
                <img class="imagen-experiencia" [src]="experi.img_LogoEx" alt="">
            </div>
            <div class="data-experiencia col-md-9">
                <h3>{{experi.puestoEx}}</h3>
                <h6>{{experi.fechaEx}}</h6>
                <h4>{{experi.empresaEx}}</h4>
                <p>{{experi.descripcionEx}}</p>
            </div>
            <div class="col-md-1">
                <app-boton-editar data-bs-toggle="modal" data-bs-target="#editexperiencia"></app-boton-editar>
                <app-boton-borrar></app-boton-borrar>
            </div>
            <hr>
        </div>
    </div>
</section>
