<!-------SECCION CONTACTO--------->

<section id="contacto" class="recuadro contacto">
    <div class="container-fluid seccion">
        <div class="titulo-seccion">
           <h2 class="titular">Contacto</h2> 
        </div>        
        <div class="container bloque-contacto">
            <p>Abierto a formar parte de proyectos que sumen a mi aprendizaje. Me puedes contactar en las siguientes redes:</p>
        </div>
        <div>
            <ul>
                <li class="list-inline-item vin">
                    <a href="https://github.com/SantiagoCastellaniDev" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
                </li>
                <li class="list-inline-item vin">
                    <a href="https://linkedin.com/in/santiagocastellani" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                </li>                               
            </ul>
        </div>
    </div>
</section>
