
/*-----BOTON OPEN SIDEBAR-----*/

.btn-sidebar {
  top: 10px;
  width:max-content;
  position:fixed;
  left:inherit;
  margin-right: 3px;
  
}  

.boton-sidebar {
  background-color: yellow;
  color: black;
  margin-right: 10px;
  height: 40px;
  width:40px;
  border-radius: 10px;
}

fa-icon {
  height: 25px;  
}

/*-----------SIDEBAR-----------*/

#offcanvasWithBothOptions {
  height: max-content;
  width: 280px;
  top: 60px;
  padding:5px;
  background-color: black;/*
  background: url(../../../assets/images/flor.jpg);*/
  transition: transform 1000ms;
  text-align: center;
  border-radius: 50px;  
  border-bottom:1px solid red;
  border-left:1px solid orange;
  border-top:1px solid yellow;
  border-right:1px solid green; 
  margin:0px auto;
}
/*
.offcanvas-header {
  background: url(../../../assets/images/flor.jpg);
  width:100px;
  align-items: center;
}*/

ul {
  list-style-type: none;
}

ul li {
  text-decoration: none;
  padding-top: 40px;
}

ul li a {
  font-size: 20px;/*
  padding: 10px;*/
  color: white;/*
  padding:25px;*/
  text-decoration: none;
}

ul li a:hover {
  color: yellow;
}

/*----EFECTOS EN SIDEBAR------*/
#tithome:hover {
  color: purple;
}