<!---------SECCION SKILLS-------------->

<section id="skills" class="recuadro">
    <div class="container-fluid seccion">
      <!-------TITULO DE SECCION------->
      <div class="titulo-seccion">
        <h2 class="titular">Habilidades</h2>
      </div>
      <!------------------->      
      <hr>
      <!--------Hard Skills--------------------->
      <div  id="hard-skills">
        <app-boton-agregar data-bs-toggle="modal" data-bs-target="#addSkill"></app-boton-agregar>
        <h4>Hard Skills / Tecnologías</h4>          
      </div>
        <!------------------------->
      <div class="row container-fluid" *ngFor="let skill of skills">
        <div class="skills col-xs-10 col-md-5">
          <span><i class="{{skill.img_Skill}}"[style.color]="skill.colorSkill"></i></span>
          <span [style.color]="skill.colorSkill">{{skill.nombreSkill}}</span>
          <div class="btn-edicion">
            <app-boton-editar data-bs-toggle="modal" data-bs-target="#editSkill" (click)="editableId(skill.idSkill,skill)"></app-boton-editar>
            <app-boton-borrar data-bs-toggle="modal" data-bs-target="#deleteSkill" (click)="trashId(skill.idSkill,skill)"></app-boton-borrar> 
          </div> 
          <div class="progress">               
            <div class="progress-bar bg-{{skill.colorSkill}}" role="progressbar" style="width:{{skill.porcentajeSkill}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{skill.nivelSkill}}</div>
          </div>
        </div>
      </div> 
      
      <hr>

      <!------------Soft Skills---------------->

      <div  id="soft-skills">
        <!-----(a futuro se implementara la creacion, edicion y eliminacion de las soft skills)
          <app-boton-agregar></app-boton-agregar>
         -->
          <h4>Soft Skills / Cualidades</h4>          
      </div>
        <!------------------------->
      <div class="row container-fluid">
          <!-----------Trabajo en equipo------------->
          <div class="skills col-9">
            <div class="nombre-habilidad">
              <span>Trabajo en equipo</span>
              <div class="btn-edicion">
                <!-----
                <app-boton-editar></app-boton-editar>
                <app-boton-borrar></app-boton-borrar> 
                --->
              </div>            
            </div>
            <div class="progress">               
              <div class="progress-bar bg-success" role="progressbar" style="width: 97%" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100"></div>
            </div>            
          </div>
          <!-------------Cualidad 2------------->
          <div class="skills col-9">
            <span>Comunicación efectiva</span>
            <div class="btn-edicion">
              <!------
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
              --->
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-success" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!-----------Cualidad 3-------->
          <div class="skills col-9">
            <span>Resiliencia</span>
            <div class="btn-edicion">
              <!------
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar>
              ---> 
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-success" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!------------Cualidad 4--------->
          <div class="skills col-9">
            <span>Resolución de problemas</span>
            <div class="btn-edicion">
              <!------
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
              --->
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-success" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>          
      </div>    
      <!---------------------------------------------------------->
      <hr>        
    </div>    
</section>

<!-------------------------------->


<!-------MODALES----agregar, editar y borrar-->


<!-------AGREGAR SKILL----------->
<div class="modal fade" id="addSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-agregar">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">AGREGAR SKILL</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!------Formulario------->
      <form #f="ngForm"  id="agregarEducacion" class="add-form" (ngSubmit)="guardarSkill()" novalidate>
          <div class="modal-body">
              <div class="form-group">
                  <label for="nombreSkill" class="form-label">Nombre de tecnologia o lenguaje</label>
                  <input id="nombreSkill" type="text" name="nombreSkill" class="form-control" [(ngModel)]="newNombreSkill" required>
              </div>
              <div class="form-group">
                  <label for="nivelSkill" class="form-label">Nivel o conocimiento de la herramienta</label>
                  <select id="nivelSkill" type="text" name="nivelSkill" class="form-control" [(ngModel)]="newNivelSkill" required>
                    <option value="Básico">Básico</option>
                    <option value="Intermedio">Intermedio</option>
                    <option value="Avanzado">Avanzado</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="porcentajeSkill" class="form-label">Porcentaje</label>
                  <select id="porcentajeSkill" type="number" name="porcentajeSkill" class="form-control" [(ngModel)]="newPorcentajeSkill" required>
                    <option value=10>10</option>
                    <option value=20>20</option>
                    <option value=30>30</option>
                    <option value=40>40</option>
                    <option value=50>50</option>
                    <option value=60>60</option>
                    <option value=70>70</option>
                    <option value=80>80</option>
                    <option value=90>90</option>
                    <option value=100>100</option>
                </select>
              </div>
              <div class="form-group">
                  <label for="descripcionEdu" class="form-label">Color de la barra de progreso y skill</label>
                  <select id="colorSkill" type="text" name="colorSkill" class="form-control" [(ngModel)]="newColorSkill">
                    <option value="red">Rojo</option>
                    <option value="orangered">Naranja</option>
                    <option value="yellow">Amarillo</option>
                    <option value="green">Verde</option>
                    <option value="lightblue">Celeste</option>
                    <option value="blue">Azul</option>
                    <option value="purple">Violeta</option>
                    <option value="brown">Marrón</option>
                    <option value="pink">Rosa</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="img_Skill" class="form-label">Icono de la herramienta</label>
                  <select id="img_Skill" type="text" name="img_Skill" class="form-control" [(ngModel)]="newImg_Skill">
                    <option value="fa-brands fa-html5">HTML</option>
                    <option value="fa-brands fa-css3-alt">CSS</option>
                    <option value="fa-brands fa-js">Javascript</option>
                    <option value="fa-brands fa-bootstrap">Bootstrap</option>
                    <option value="fa-brands fa-java">Java</option>
                    <option value="fa-solid fa-power-off">SpringBoot</option>
                    <option value="fa-solid fa-database">MySQL</option>
                    <option value="fa-brands fa-react">React</option>
                    <option value="fa-brands fa-angular">Angular</option>
                    <option value="fa-solid fa-code">Typescript</option>
                    <option value="fa-brands fa-github">GitHub</option>
                    <option value="fa-brands fa-git">Git</option>
                    <option value="fa-brands fa-php">PHP</option>
                    <option value="fa-brands fa-python">Python</option>
                </select>
              </div>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Guardar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>                
          </div>
      </form>
    </div>
  </div>
</div>
<!-------------------------------->

<!--------EDITAR SKILL-------->
<div class="modal fade" id="editSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-editar">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">EDITAR SKILL</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!------Formulario------->
      <form #f="ngForm"  id="editarSkill" class="add-form" (ngSubmit)="editarSkill()" novalidate>
          <div class="modal-body">
            <div class="form-group">
              <label for="nombreSkill" class="form-label">Nombre de tecnologia o lenguaje</label>
              <input id="nombreSkill" type="text" name="nombreSkill" class="form-control" [(ngModel)]="newNombreSkill" required>
          </div>
          <div class="form-group">
              <label for="nivelSkill" class="form-label">Nivel o conocimiento de la herramienta</label>
              <select id="nivelSkill" type="text" name="nivelSkill" class="form-control" [(ngModel)]="newNivelSkill" required>
                <option value="Básico">Básico</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Avanzado">Avanzado</option>
              </select>
          </div>
          <div class="form-group">
              <label for="porcentajeSkill" class="form-label">Porcentaje</label>
              <select id="porcentajeSkill" type="number" name="porcentajeSkill" class="form-control" [(ngModel)]="newPorcentajeSkill" required>
                <option value=10>10</option>
                <option value=20>20</option>
                <option value=30>30</option>
                <option value=40>40</option>
                <option value=50>50</option>
                <option value=60>60</option>
                <option value=70>70</option>
                <option value=80>80</option>
                <option value=90>90</option>
                <option value=100>100</option>
              </select>
          </div>
          <div class="form-group">
              <label for="descripcionEdu" class="form-label">Color de la barra de progreso y skill</label>
              <select id="colorSkill" type="text" name="colorSkill" class="form-control" [(ngModel)]="newColorSkill">
                <option value="red">Rojo</option>
                <option value="orangered">Naranja</option>
                <option value="yellow">Amarillo</option>
                <option value="green">Verde</option>
                <option value="lightblue">Celeste</option>
                <option value="blue">Azul</option>
                <option value="purple">Violeta</option>
                <option value="brown">Marrón</option>
                <option value="pink">Rosa</option>
              </select>
          </div>
          <div class="form-group">
              <label for="img_Skill" class="form-label">Icono de la herramienta</label>
              <select id="img_Skill" type="text" name="img_Skill" class="form-control" [(ngModel)]="newImg_Skill">
                <option value="fa-brands fa-html5">HTML</option>
                <option value="fa-brands fa-css3-alt">CSS</option>
                <option value="fa-brands fa-js">Javascript</option>
                <option value="fa-brands fa-bootstrap">Bootstrap</option>
                <option value="fa-brands fa-java">Java</option>
                <option value="fa-solid fa-power-off">SpringBoot</option>
                <option value="fa-solid fa-database">MySQL</option>
                <option value="fa-brands fa-react">React</option>
                <option value="fa-brands fa-angular">Angular</option>
                <option value="fa-solid fa-code">Typescript</option>
                <option value="fa-brands fa-github">GitHub</option>
                <option value="fa-brands fa-git">Git</option>
                <option value="fa-brands fa-php">PHP</option>
                <option value="fa-brands fa-python">Python</option>
            </select>
          </div>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Guardar cambios</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>                
          </div>
      </form>
    </div>
  </div>
</div>
<!-------------------------------->

<!-----------BORRAR SKILL------------>
<div class="modal fade" id="deleteSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-borrar">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">ELIMINAR SKILL</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form (ngSubmit)="eliminarSkill()">
          <div class="modal-body">
              <div>
                  <h5>¿Desea eliminar esta skill?</h5>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Eliminar</button>
          </div>
      </form>
    </div>
  </div>
</div>
<!-------------------------------->
