<section id="skills" class="recuadro">
    <div class="container-fluid seccion">
      <!-------TITULO DE SECCION------->
      <div class="titulo-seccion">
        <h2 class="titular">Habilidades</h2>
      </div>
      <!------------------->      
      <hr>
      <!--------Hard Skills--------------------->
      <div  id="hard-skills">
        <app-boton-agregar></app-boton-agregar>
        <h4>Hard Skills / Tecnologías</h4>          
      </div>
        <!------------------------->
      <div class="row container-fluid">
          <!---------HTML----------->
          <div class="skills col-xs-10 col-md-5">
            <fa-icon [icon]="faHtml5" style="color:orangered"></fa-icon>
            <span style="color:orangered">HTML</span>
            <div class="btn-edicion">
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-orangered" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">intermedio</div>
            </div>
          </div>
          <!----------CSS------------->
          <div class="skills col-xs-10 col-md-5">
            <fa-icon [icon]="faCss3Alt" style="color:blue"></fa-icon>
            <span style="color:blue">CSS</span>
            <div class="btn-edicion">
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-blue" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55 %</div>
            </div>
          </div>
          <!-----------Javascript-------->
          <div class="skills col-xs-10 col-md-5">
            <fa-icon [icon]="faJs" style="color:yellow"></fa-icon>
            <span style="color:yellow">Javascript</span>
            <div class="btn-edicion">
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-yellow" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55 %</div>
            </div>
          </div>
          <!-------------Bootstrap---------->
          <div class="skills col-xs-10 col-md-5">
            <fa-icon [icon]="faBootstrap" style="color:purple"></fa-icon>
            <span style="color:purple">Bootstrap</span>
            <div class="btn-edicion">
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-purple" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55 %</div>
            </div>
          </div>
          <!--------------Angular------------->
          <div class="skills col-xs-10 col-md-5">
            <fa-icon [icon]="faAngular" style="color:red"></fa-icon>
            <span style="color:red">Angular</span>
            <div class="btn-edicion">
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-red" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55 %</div>
            </div>
          </div>
          <!--------------MySQL------------->
          <div class="skills col-xs-10 col-md-5">
            <fa-icon [icon]="faDatabase" style="color:salmon"></fa-icon>
            <span style="color:salmon">MySQL</span>
            <div class="btn-edicion">
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-pink" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55 %</div>
            </div>
          </div>
          <!----------------JAVA------------->
          <div class="skills col-xs-10 col-md-5">
            <fa-icon [icon]="faJava" style="color:salmon"></fa-icon>
            <span style="color:salmon">JAVA</span>
            <div class="btn-edicion">
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-pink" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55 %</div>
            </div>
          </div>
          <!----------------Springboot--------->
          <div class="skills col-xs-10 col-md-5">
            <fa-icon [icon]="faPowerOff" style="color:green"></fa-icon>
            <span style="color:green">SpringBoot</span>
            <div class="btn-edicion">
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-green" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55 %</div>
            </div>
          </div>
      </div>
      <!--------------------------------------->
      <hr>
      <!------------Soft Skills---------------->

      <div  id="soft-skills">
          <app-boton-agregar></app-boton-agregar>
          <h4>Soft Skills / Cualidades</h4>          
      </div>
        <!------------------------->
      <div class="row container-fluid">
          <!-----------Trabajo en equipo------------->
          <div class="skills col-9">
            <div class="nombre-habilidad">
              <span>Trabajo en equipo</span>
              <div class="btn-edicion">
                <app-boton-editar></app-boton-editar>
                <app-boton-borrar></app-boton-borrar> 
              </div>            
            </div>
            <div class="progress">               
              <div class="progress-bar bg-success" role="progressbar" style="width: 97%" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100"></div>
            </div>            
          </div>
          <!-------------Cualidad 2------------->
          <div class="skills col-9">
            <span>Comunicación efectiva</span>
            <div class="btn-edicion">
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-success" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!-----------Cualidad 3-------->
          <div class="skills col-9">
            <span>Resiliencia</span>
            <div class="btn-edicion">
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-success" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <!------------Cualidad 4--------->
          <div class="skills col-9">
            <span>Resolución de problemas</span>
            <div class="btn-edicion">
              <app-boton-editar></app-boton-editar>
              <app-boton-borrar></app-boton-borrar> 
            </div> 
            <div class="progress">               
              <div class="progress-bar bg-success" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>          
      </div>    
      <!---------------------------------------------------------->
      <hr>        
    </div>    
</section>

           