<section id="acerca-de">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img id="" class="foto-perfil" src="../../../assets/images/fotoperfil.png">
                <app-boton-editar id="editar-foto-perfil"></app-boton-editar>
            </div>
            <div id="about" class="col-md-9">
                <h2 class="">Sobre mí</h2>
                <p>
                    Desarrollador web en formación, amante de la naturaleza, con habilidades para las ciencias exactas y el trabajo cooperativo. Abierto a formar parte de nuevos proyectos que permitan sumar herramientas y aprendizajes en este camino formativo.
                </p>
            </div>
            <div class="botones col-md-1">
                <app-boton-editar></app-boton-editar>
                <app-boton-borrar></app-boton-borrar>
            </div>
        </div>
    </div>
</section>